<div class="header">
  <div class="left-section">
    <img class="hamburger-icon" src="../../../assets/icons/hamburger.png">
    <img class="youtube-icon" src="../../../assets/icons/youtube.png">
    <span class="youtube-icon-label">&nbsp;&nbsp;YouTube<sup>&nbsp;IN</sup></span>
  </div>
  <div class="middle-section">
    <!-- <div class="search-bar-field"> -->
    <input type="text" class="search-bar" placeholder="Search">
    <!-- <div button-field> -->
    <button class="search-button">
      <img class="search-button-icon" src="../../../assets/icons/search.png">
    </button>
  <!-- </div> -->
  <!-- </div> -->
  <button class="voice-icon-field">
    <img src="../../../assets/icons/microphone-1.png" class="voice-search-icon">
  </button>
  </div>
</div>