<div class="fxContainer crd">
  <div class="fx-item-container crd-item">
    <span class="info-label">Amount</span>
    <span class="item-info">10</span>
  </div>
  <div class="fx-item-container crd-item">
    <span class="info-label">Title</span>
    <span class="item-info">Vikash</span>
  </div>
  <div class="fx-item-container crd-item">
    <span class="info-label">Location</span>
    <span class="item-info">Bokaro</span>
  </div>
  <div class="fx-item-container crd-item">
    <span class="info-label">Status</span>
    <span class="item-info">Ongoing</span>
  </div>
</div>