<div class="sidebar">
    <div class="sidebar-item">
        <img class="home-icon" src="../../../assets/icons/home.png">
        <span class="home-icon-label">Home</span>
    </div>
    <div class="sidebar-item">
        <img class="reels-icon" src="../../../assets/icons/reels.png">
        <span class="reels-icon-label">Shorts</span>
    </div>
    <div class="sidebar-item">
        <img class="subscription-icon" src="../../../assets/icons/subscription.png">
        <span class="subscription-icon-label">Subscriptions</span>
    </div>
    <div class="sidebar-item">
        <img class="library-icon" src="../../../assets/icons/library.png">
        <span class="library-icon-label">Library</span>
    </div>
</div>

