.sidebar{
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding-right: 8px;
    padding-left: 8px;
}
.sidebar-item{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 14px;

}
.sidebar-item:hover{
    background-color: rgb(43, 41, 41);
    border-radius: 20px;
    cursor: pointer;
}
.home-icon,
.reels-icon,
.subscription-icon,
.library-icon
{
    width: 24px;
    height: 24px;
    background-color: white;
    &-label{
        margin-top: 6px;
        font-size: 10px;
    }
}
