<div class="parent-container">
    <div class="modal-container">
        <div class="close-modal" (click)="closeModal()">X</div>
        <div class="header">This is header</div>
        <div class="body">This is the main body Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Vitae dolore facere ab voluptatum
            rerum
            saepe quam nam aperiam in, omnis asperiores animi totam optio.
            Accusamus
            perferendis ex molestiae magnam quo!</div>
        <div class="footer">This is footer</div>
    </div>
</div>